body{
  overflow-x:hidden;
}
.content{
  padding:0;
  top:calc(var(--space-end) + 200px);/* finalize later */
  position:absolute;
  width:100%;
  left:0;
}
.row{
  padding:0 10%;
}
.row-spacer{
  padding:75px 0px;
}

.content h1{
  color:var(--red);
  font-weight:bold;
}
