:root{
  --space-end:350px;
}

.space{
  --void:#494949;
  overflow:hidden;
  background-color:var(--void);
  height:var(--space-end);
  position:absolute;
  width:100%;
  z-index:-1;
  left:0;
  top:0;
}
.space .sun{
  position:absolute;
  border-radius:50%;
  background-color:yellow;
  height:600px;
  width:600px;
  right:-300px;
  top:-400px;
}
.space .green{
  background-color:#4fd843;
  border-radius:50%;
  position:absolute;
  height:200px;
  width:200px;
  left:425px;
  top:-75px;
}

/* Jupiter */
.space .jupiter{
  position:absolute;
  border-radius:50%;
  background-color:tan;
  height:300px;
  width:300px;
  left:-100px;
  top:150px;
  z-index:1;
}
.space .moon{
  animation-iteration-count:infinite;
  animation-name:moon-orbit;
  animation-duration:180s;
  position:absolute;
  border-radius:50%;
  background-color:gray;
  height:50px;
  width:50px;
}
@keyframes moon-orbit{
  0%{
    left:200px;
    top:100px;
    z-index:2;
  }
  50%{
    left:-150px;
    top:300px;
    z-index:-1;
  }
  100%{
    left:200px;
    top:100px;
  }
}
