.logo{
  transform:translate(-50%,-50%);
  position:absolute;
  top:var(--space-end);
  left:50%;
  width:400px;
  background-color:white;
  padding:15px 50px;
  border-radius:15px;
}

.navbar{
  max-width:90%;
  transform:translateX(-50%);
  position:absolute;
  left:50%;
  top:0;
  padding:10px 25px;
  border-radius:0px 0px 15px 15px;
  background-color:var(--red);
  color:var(--dark-red);
  font-weight:bold;
  font-size:25px;
}
.navbar a{
  transition:color 0.1s ease;
  cursor:pointer;
  color:white;
}
.navbar a:hover{
  text-decoration:none;
  color:#EDEDED;
}

.footer{
  text-align:center;
  padding:5px;
  font-size:20px;
  font-family:sans-serif;
  background-color:black;
  color:white;
}
.footer a{
  color:var(--red);
}
.footer a:hover{
  text-decoration:underline;
  cursor:pointer;
}
